{% extends "_base.html" %}

{% set page_title = 'Url tracker' %}

{% block content %}

<div class="flexbox-container">

  <div class="container">

    <form method="POST" autocomplete="off">

      {% if form.errors %}
      <div class="form-group has-warning">
      {% else %}
      <div class="form-group">
      {% endif %}

        {% if form.errors %}
          <div class="form-control-feedback">{{ form.errors['destination'][0] }}</div>
          <input type="text" class="form-control form-control-warning form-control-sm" id="destination" name="destination" placeholder="http(s)://...">
        {% else %}
          <input type="text" class="form-control form-control-sm" id="destination" name="destination" placeholder="http(s)://...">
        {% endif %}

        {{ form.csrf_token }}

      </div>
      <button type="submit" class="btn btn-primary btn-sm">Shorten</button>
    </form>

  </div>

</div>

{% endblock %}
