{% extends "_base.html" %}

{% block optional_includes %}
{% include "_capcha_script.html" %}
{% endblock %}

{% set page_title = 'utldr.co | Shorten a link' %}

{% block content %}

<div id="head-wrap">
  <div id="title-head">
    <h1><a href="/">utldr.co</a> <span class="make_it_blue">|</span>
      <small class="text-muted">tldr 4 urls</small>
    </h1>
  </div>
</div>

<div class="flexbox-container">

  <div class="container" id="create-container">

    <div id="create-form-wrapper">

      <form method="POST" autocomplete="off">

        {% if form.errors %}
        <div class="form-group has-warning">
        {% else %}
        <div class="form-group">
        {% endif %}

          {% if form.errors %}
          <div class="form-control-feedback">{{ form.errors['destination'][0] }}</div>
          <input type="text" class="form-control form-control-warning form-control-sm" id="destination" name="destination" placeholder="http(s)://...">
          {% else %}
          <input type="text" class="form-control form-control-sm" id="destination" name="destination" placeholder="http(s)://...">
          {% endif %}

            {{ form.csrf_token }}

        </div>
        <button type="submit" id="submit_button" class="btn btn-primary btn-sm">Shorten</button>
        <div class="g-recaptcha" data-sitekey="{{ recapcha_key }}"></div>
      </form>

    </div>

  </div>

  <div id="title-footer">
    <span>
      <a href="/">utldr.co</a> <span class="make_it_blue">|</span>
      <a href="https://github.com/nomadmtb/utldr" target="_blank">github</a> <span class="make_it_blue">|</span>
      <a href="https://www.twitter.com/_kgeo" target="_blank">twitter</a> <span class="make_it_blue">|</span>
      <a href="/stats">site stats</a>
    </span>
  </div>

</div>

  {% endblock %}
