{% extends "_base.html" %}

{% set page_title = 'utldr.co | site stats' %}

{% block content %}

<div id="head-wrap">
  <div id="title-head">
    <h1><a href="/">utldr.co</a> <span class="make_it_blue">|</span>
      <small class="text-muted">tldr 4 urls</small>
    </h1>
  </div>
</div>

<div class="container" id="view-container">

</div>

<div id="view-footer">
  <span>
    <a href="/">utldr.co</a> <span class="make_it_blue">|</span>
    <a href="https://github.com/nomadmtb/utldr" target="_blank">github</a> <span class="make_it_blue">|</span>
    <a href="https://www.twitter.com/_kgeo" target="_blank">twitter</a>
  </span>
</div>

{% endblock %}
